{% extends "base.html" %}

{% block title %}Home - Algo Trading Analytics{% endblock %}

{% block content %}
  <h2 class="mt-5">Current Balance</h2>
  <p>${{ "%.2f" | format(current_balance) }}</p>

  <h2 class="mt-5">Daily Profit/Loss</h2>
  <div>
    <canvas id="profitLossChart"></canvas>
  </div>
  <script>
    const ctx = document.getElementById('profitLossChart').getContext('2d');
    const profitLossData = {{ profit_loss_data | tojson }};
    const labels = profitLossData.map(d => d.Date);
    const data = profitLossData.map(d => d['Profit/Loss'].toFixed(2));

    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: 'Daily Profit/Loss',
          data: data,
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: function(value, index, values) {
                return '$' + value.toFixed(2);
              }
            }
          }
        }
      }
    });
  </script>
{% endblock %}
