{% extends "base.html" %}

{% block title %}{{ ticker }} Details - Algo Trading Analytics{% endblock %}

{% block content %}
  <h2 class="mt-5">{{ ticker }} Details</h2>
  
  <!-- Display the live stock price -->
  <div>
    <h3>Live Price: $<span id="livePrice">Loading...</span></h3>
  </div>

  <!-- Table to display trade details -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Trade ID</th>
        <th>Timestamp</th>
        <th>Trade Type</th>
        <th>Shares Traded</th>
        <th>Price per Share</th>
        <th>Trade Value</th>
        <th>Balance</th>
        <th>Profit/Loss</th>
        <th>Profit/Loss Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for trade in trades %}
        <tr>
          <td>{{ trade['Trade ID'] }}</td>
          <td>{{ trade['Timestamp'] }}</td>
          <td>{{ trade['Trade Type'] }}</td>
          <td>{{ trade['Shares Traded'] }}</td>
          <td>${{ "%.2f"|format(trade['Price per Share']) }}</td>
          <td>${{ "%.2f"|format(trade['Trade Value']) }}</td>
          <td>{{ trade['Balance'] }}</td>
          <td>{{ trade['Profit/Loss'] }}</td>
          <td>${{ "%.2f"|format(trade['Profit/Loss Amount']) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Script to fetch live price from Yahoo Finance -->
  <script>
  const ticker = "AAPL";
  const baseUrl = "https://query1.finance.yahoo.com/v8/finance/chart/";
  const interval = "?interval=1d";

  const url = baseUrl + ticker + interval;
    fetch(url)
      .then(response => response.json())
      .then(data => {
        const livePrice = data.chart.result[0].meta.regularMarketPrice.toFixed(2);
        document.getElementById('livePrice').textContent = livePrice;
      })
      .catch(error => console.error('Error fetching live price:', error));
  </script>
{% endblock %}
