{% extends "base.html" %}

{% block title %}{{ ticker }} Details - Algo Trading Analytics{% endblock %}

{% block content %}
  <h2 class="mt-5">{{ ticker }} Details</h2>
  <h3>Live Value: {{ live_value }}</h3>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Trade ID</th>
        <th>Timestamp</th>
        <th>Trade Type</th>
        <th>Shares Traded</th>
        <th>Price per Share</th>
        <th>Trade Value</th>
        <th>Profit/Loss</th>
      </tr>
    </thead>
    <tbody>
      {% for row in ticker_data %}
      <tr>
        <td>{{ row['Trade ID'] }}</td>
        <td>{{ row['Timestamp'] }}</td>
        <td>{{ row['Trade Type'] }}</td>
        <td>{{ row['Shares Traded'] }}</td>
        <td>{{ row['Price per Share'] }}</td>
        <td>{{ row['Trade Value'] }}</td>
        <td>{{ row['Profit/Loss'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
